.background {
    padding: 100px 0;
}

.eventList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 60px 0;
}

.event {
    background-color: #E5F6E6;
    border-radius: 1px 10px 10px 10px;
    border-color: #004D21;
    border-style: solid;
    padding: 20px 20px 0px 20px;
    line-height: 100%;
}

.event-title {
    font-weight: bold;
}

.buttons {
    float: right;
}