.background {
    background-color: #F8F9FA;
    padding: 150px 0;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 996px) {
    .image {
      margin-bottom: 60px;
    }
  }