.title {
  padding-top: 100px;
}

.divider{
  width: 3rem;
  height: auto;
  display: inline-block;
}

.center {
  display: flex;
  justify-content: center;
}

.spaceBottom {
  padding-bottom: 100px;
}