@media screen and (max-width: 996px) {
  div.cardList {
    flex-direction: column;
    align-items: center;
  }
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.card {
  background-color: white;
  border-radius: 1px 15px 15px 15px;
  border-color: #004D21;
  border-style: solid;
  border-width: 0.5px;
  margin-top: 30px;
  max-width: 250px;
}

.name {
  font-weight: bold;
  font-family: var(--ifm-heading-font-family);
  color: black;
}

.title {
  padding: 15px;
  line-height: 25px;
  white-space: pre-wrap;
  font-size: 0.8rem;
  font-weight: 600;
}

.image {
  height: 200px;
  text-align: center;
  margin: 15px 0px;
}

/* .socials {
  text-align: bottom;
} */