@media screen and (max-width: 996px) {
  div.cardList {
    flex-direction: column;
    align-items: center;
  }
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px 0;
}

.card {
  background-color: #E5F6E6;
  border-radius: 1px 10px 10px 10px;
  border-color: #004D21;
  border-style: solid;
  margin-top: 30px;
  max-width: 250px;
}

.name {
  font-weight: bold;
  font-family: var(--ifm-heading-font-family);
  
}

.title {
  padding: 15px;
  line-height: 25px;
  white-space: pre-wrap;
}

.image {
  height: 200px;
  text-align: center;
  margin: 15px 0px;
}

/* .socials {
  text-align: bottom;
} */