.background {
  background-color: rgba(27, 27, 27, 1);
  background-image: linear-gradient(100deg, rgba(27, 27, 27, 1) 0%, rgba(0, 49, 83, 1) 100%);
}

.title {
  color: white;
  text-align: center;
  font-size: 3.5rem;
  font-family: "Caprasimo", serif;
  line-height: 1.5;
  padding-top: 100px;
}

.description {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

@media only screen and (max-width: 996px) {
  .title {
    font-size: 3rem;
  }
}