.background {
    padding: 100px 0;
}

.partners {
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0;
    align-items: center;
}

.image {
    max-width: 180px;
    margin: 0px 50px 20px 50px;
}