.background {
    background-color: #F8F9FA;
    padding: 100px 0;
}

.columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.contact-description {
    min-width: fit-content;
    padding-right: 100px;
}

.contact-info {
    min-width: 250px;
    margin: auto;
    text-decoration: underline;
}