.background {
  background-color: white;
}

.title {
  color: black;
  text-align: center;
  font-size: 3.5rem;
  font-family: "Caprasimo", serif;
  line-height: 1.5;
  padding: 100px 0px;
}

@media only screen and (min-width: 996px) {
  .title {
    padding: 100px;
  }
}